@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	background: #000;
}

/* media queries */
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 550px) {
}
@media screen and (max-width: 475px) {
}
@media screen and (max-width: 402px) {
}
@media screen and (max-width: 321px) {
}
