@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none !important;

}
body {
	font-family: 'Spartan', sans-serif;
	background: #F9FBE7
	color: #010956;

}
.btn{
	font-family: 'Spartan', sans-serif !important;
	font-weight: bold;
	font-size: 1.5rem;
}
.sub-btn{
	font-size: 1rem;
	padding: 50px;
}
.bg-white{
	background: #ffff;
}
.title_head{
	font-weight: 900 !important;
	font-size: 8rem;
	font-family: 'Lobster', cursive;
}
.cita{
	background: #EA8490;
	padding: 50px;
	border-radius: 100px;
	font-weight: 700;
	color: #ffff; 
	/* FFF6EE */
	font-size: 1.2rem;
}

.encabezado{
	font-size: 4vh;
	font-weight: 700;
}
.img-encabezado{
	width: 10vh;
}
.module{
	background: #FFF8DC;
	border-radius: 5vh;
	
}
/* #menu1, #menu2, #menu, #menu4, #menu5, #menu6, #menu7{
	display: none;
} */
.hide{
	display: none;
}

/* media queries */
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 550px) {
}
@media screen and (max-width: 475px) {
}
@media screen and (max-width: 402px) {
}
@media screen and (max-width: 321px) {
}
